<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/nhk.css">
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container my-0">
          <img src="/static/assets/logo.png" height="70" width="70" alt="..." href="home">
          <h5 class="navbar-brand" href="home">Book Buddy</h5>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="order" href="signup">Your order</a>
              </li>
         </div>
       </nav>
 <center><img src="https://source.unsplash.com/1200x600/?about,us,website,financial" alt="..."></center>
    <div class="about">
    <h1> About Us</h1></div>
    <div class="content">
    <p>Book Buddy- a web application formed in 2023 with a mission to help people foster their habit of reading. The vision is to ensure that the habit of reading prevails and is passed on to the next generations. In this era of technological revolution, we strive to ensure that there is a market for books in printed format,
Dharya information private ltd. leverages the power of the librarywala brand to offer online customers a premier destination for renting multilingual books.
</p><p></div>
    <div class="table">
We as readers identified the following issues:<br>
- Limited number of libraries with very limited collection of books<br>
- Reading is an expensive hobby; one cannot buy all the books to read<br>
- In these busy times readers were not able to take out time to foster their habit, travel too and from work took most of their time and the traffic added to the exhaustion<br>
</p></div><div class="content2">
The idea was to solve the above, if the reader could not come to a library/bookstore, what if we took the library to them. We started speaking with several readoholics outside several bookshops, interviewing them and understanding their requirements and chalking out the solutions plan.
This site acts as a gateway for the readers to easily available information about their favourite books.It is easy to use and highly beneficial for users and readers.
Abundance of information is available just one click away.
This web application is a one step solution for book worms and reading lovers.
Readers have a wide range of options for books based on various subjects like physics,biology,sociology,mathematics,english novels,etc.
Book Buddy acts as a great companion for people searching for books to solve problems or for general reading leisure.
</div>
</body>
</html>